{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "Chrome >= 34"]
        }
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
