{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": ["IE 9"],
        "loose": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": ["react-hot-loader/babel"]
}
